################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/ytdlpWrapperGui/bin
/ytdlpWrapperGui/obj
/ytSubtitles/bin/Release
/ytSubtitles/obj
